@import "tailwindcss";
@font-face {
  font-family: 'TasktopiaRetroFont';
  src: url('./assets/fonts/ALBAS___.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TasktopiaModernFont';
  src: url('./assets/fonts/Sketch-Toronto.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TasktopiaParagraphFont';
  src: url('./assets/fonts/Bowhouse-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
/* Theme fonts - default playful */
:root {
  --theme-font: 'Fredoka, TasktopiaModernFont, TasktopiaRetroFont, sans-serif';
}

body {
  font-family: var(--theme-font);
}

/* Apply theme fonts based on data attribute on root element */
html[data-theme="playful"] {
  --theme-font: "TasktopiaRetroFont", "Oi", serif, "Rubik Microbe", system-ui;
}

html[data-theme="modern"] {
  --theme-font: TasktopiaModernFont, 'Bodoni Moda SC', serif;
}

html[data-theme="dark"] {
  --theme-font: 'Outfit, Space Grotesk, sans-serif';
}
   html[data-theme="playful"] body {
      background-image: url('/images/playful_bg.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

       html[data-theme="modern"] body {
      background-image: url('/images/modern_bg.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    h1{
      font-size: 42px;
    }
h2{
  font-size: 28px;
}

button{
  font-size: 22px;
  letter-spacing: 2px; 
}
p, input {
  font-family: 'TasktopiaParagraphFont', 'sans-serif';
}